[Desktop Entry]
Name=Notepad++
Comment=Notepad++ for Linux (Native Qt Edition)
GenericName=Text and Source Code Editor
Exec=@INSTALL_DIR@/bin/notepad-plus-plus %F
Icon=@INSTALL_DIR@/npp_linux/resources/icons/notepad-plus-plus.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;text/x-python;text/x-c;text/x-c++;text/x-java;text/x-chdr;text/html;text/xml;application/json;application/xml;
StartupNotify=true
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=@INSTALL_DIR@/bin/notepad-plus-plus
